* {
    margin: 5PX auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    /* font-weight: 300, 400, 500; */
}

#content img {
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
}
#content{
    color: aliceblue;
    width: 100%;
    text-align: center;
}
:root {
    /* --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3; */
    /* background-image: linear-gradient(to right, #230050, #36007ed8, #000000 ); */
    background-image:  url(https://images.hdqwalls.com/download/purple-threads-abstract-4k-ci-1336x768.jpg);
    margin: 0;
    text-decoration: none;
  }

h1 {
    color:  #230050;
    text-align: center;
    font-size: 50px;
}

 .space {
    /* background-color: rgba(128, 0, 128, 0.527); */
    display: flex;
    justify-items: center;
    width: 20%;
    
} 

input{
    background-color: rgba(128, 0, 128, 0.527);
    border-color: #000;
    border-radius: 7px;
    text-decoration: none;
    /* display: flex;
    justify-items: center; */
}

button {
    background-color: rgba(128, 0, 128, 0.527);
    border-color: #000;
    height: 35px;
    width: 70px;
    /* display: block; */
    border-radius: 7px;
    /* display: flex;
    justify-items: flex-start; */
}